<plugin name='envers' version='0.2.0' grailsVersion='2.0.0 &gt; *'>
  <author>Lucas Ward</author>
  <title>Grails Envers Plugin</title>
  <description>\
Plugin to integrate grails with Hibernate Envers
</description>
  <documentation>http://grails.org/plugin/envers</documentation>
  <type>EnversGrailsPlugin</type>
  <resources>
    <resource>spring.resources</resource>
    <resource>net.lucasward.grails.plugin.Address</resource>
    <resource>net.lucasward.grails.plugin.Customer</resource>
    <resource>net.lucasward.grails.plugin.OrderEntry</resource>
    <resource>net.lucasward.grails.plugin.State</resource>
    <resource>net.lucasward.grails.plugin.User</resource>
    <resource>net.lucasward.grails.plugin.inheritance.AbstractPlayer</resource>
    <resource>net.lucasward.grails.plugin.inheritance.AmateurPlayer</resource>
    <resource>net.lucasward.grails.plugin.inheritance.BaseballPlayer</resource>
    <resource>net.lucasward.grails.plugin.inheritance.FootballPlayer</resource>
    <resource>net.lucasward.grails.plugin.inheritance.ProfessionalPlayer</resource>
    <resource>net.lucasward.grails.plugin.inheritance.entry.AbstractPerformanceYear</resource>
    <resource>net.lucasward.grails.plugin.inheritance.entry.AmateurPerformanceYear</resource>
    <resource>net.lucasward.grails.plugin.inheritance.entry.ProfessionalPerformanceYear</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='https://repository.jboss.org/nexus/content/repositories/releases/' url='https://repository.jboss.org/nexus/content/repositories/releases/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <test>
      <dependency group='joda-time' name='joda-time' version='1.6.2' />
      <dependency group='org.gmock' name='gmock' version='0.8.2' />
    </test>
    <compile>
      <dependency group='org.hibernate' name='hibernate-envers' version='3.6.7.Final' />
      <dependency group='mysql' name='mysql-connector-java' version='5.1.14' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>